*{
    margin: 0px;
    padding: 0px;
}
#container{
    justify-content: center;
    margin-left: 250px;
    margin-top: 92px;
    width: 39%;
    height: 70vh;
    background-color: rgb(43 41 41);
    
}
#circle{
    background-color: orangered;
    height: 5vh;
    width: 6%;
    border-radius: 50%;
    display: inline-block;
    border: none;
}
#circle2{
    background-color: red;
    height: 5vh;
    width: 6%;
    border-radius: 50%;
    display: inline-block;
    border: none;
}
#circle3{
    background-color: yellow;
    height: 5vh;
    width: 6%;
    border-radius: 50%;
    display: inline-block;
    border: none;
}
[type=text]{
    background-color: rgb(43 41 41 / 92%);
    border: none;
    width: 100%;
    height: 14vh;
    text-align: right;
    color: white;
    font-size: 25px;
}
.innerflex-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
   
}
.item{
    width: 28%;
    height: 10vh;
    background-color: rgb(43 41 41 / 92%);
    color: white;
    text-align: center;
    font-size: bold;
    font-family: ubuntu;
    border: 1px solid black;
}
.hi{
 background-color: orangered;
}
.item2{
    width: 52%;
    background-color: black;
    background-color: rgb(43 41 41);
    color: white;
    text-align: center;
    border: 1px solid black;
    
}
.item3{
    width: 104%;
    background-color: black;
    background-color: rgb(43 41 41);
    color: white;
    text-align: center;
    border: 1px solid black;

}
.b{
    
        background-color: orangered;
}

button{
    width: 100%;
    height: 10vh;
    background-color: rgb(43 41 41 / 92%);
    color: white;
    text-align: center;
    font-size: bold;
    font-family: ubuntu;
    border: none;
    font-size: 25px;
}
.orange{
    background-color: orangered;
}